html,
body {
  width: 100vw;
  height: 100vh;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  box-shadow: inset 0 0 10vw #000;
}

h1 {
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -0.15ex;
  animation: jump 1s infinite;
}

@keyframes jump {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-30%, -50%) rotate(-20deg) scale(5);
  }
  50% {
    transform: translate(-30%, -40%) rotate(20deg);
  }
}
